@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
}

.container__dashboard {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  height: 10%;
  background: #fae013;
}

.sidebar {
  height: 100%;
  width: 20%;
  background: #fbeb6b;
}

.sidebar__menu {
  margin: 0;
  padding: 0;
}

.board {
  width: 80%;
  margin: 2rem 2rem;
}

.carta__opciones {
  width: 40%;
}

.carta__opciones ul {
  margin: 0;
  padding: 0;
}

.carta__opciones ul li {
  list-style: none;
}

.carta {
  margin: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carta__container {
  border: 1px solid #2F3133;
}

.carta__opcion {
  padding: 0.5rem 0;
}

.carta__pedidos {
  width: 60%;
  padding: 0 1rem;
}

.actores {
  margin: 0.5rem 0;
}

.actores label {
  display: block;
}

.actores select,
.actores input {
  margin: 0.5rem 0;
}

.btn__succ {
  display: block;
}

.ocultar {
  display: none;
}

.header__logo-container {
  height: 100%;
  width: 20%;
}

.header__logo {
  height: 100%;
  margin: 0 auto;
}

